{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
<h1 class="texte-center pt-2 text-center mb-4 ">Liste des contacts</h1>

<div class="row">
    {% for leContact in lesContacts %}
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 mx-auto">
            {{include('contact/_ficheContact.html.twig', {'mode':'listeContacts'})}}
        </div>
    {% endfor %}
</div>
{% endblock %}
